.button {
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  line-height: 19px;
  color: #ffffff;
  background-color: #3A3C40;
  padding: 16px 16px;
}

.button-group.has-equal-width .button {
  flex-grow: 1;
}

.button-primary {
  color: #f3f3f4;
}

.button-disabled {
  font-weight: 500;
  color: #7F8183;
}

.button-action {
  background-color: #A62122;
  font-size: 16px;
  line-height: 16px;
  padding: 20px;
}

.button-support {
  margin: 0 auto;
  margin-top: auto;
}

.button-transparent {
  line-height: 16px;
  background-color: inherit;
}

.button:hover {
  border: 2px solid #8b00ff;
}